<!doctype html>
<html lang="en">

<div class="header">
  <a class="logo"><h2>Notebooks</h2></a>
</div>

<p style="color: green"><%= notice %></p>

<div class="bottom_new" ><%= link_to "New notebook", new_notebook_path %></div>

  <div id="notebooks">
    <% @notebooks.each do |notebook| %>

      <div class="produto" >
        <div class="item" ><%= render notebook %></div>
        <p class="bottom_show" ><%= link_to "Show this notebook", notebook %></p>
      </div>
    <% end %>
  </div>
</html>